@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Laptop store</h1>
        <p class="lead">
            Laptop store - Web API that simulates work of online shop cart.<br /><br />
            API contains three endpoints:<br />
            <ol class="lead">
                <li>Add item to order</li>
                <li>Remove item from order</li>
                <li>Checkout</li>
            </ol>

        </p>
        <p class="lead">
            To work with the application, you need to register and log in.
        </p>
    </div>