@model IEnumerable<ShopCart.Models.Notebook>

@{
    ViewBag.Title = "Products";
}

<h2>Our products</h2>

<br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Producer
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="~/Cart/Order/@Model" class="addtocart btn btn-success" id="@item.Id">Add to cart</a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>
        $(function () {
            $("a.addtocart").click(function (e) {
                e.preventDefault();

                $("span.loader").addClass("ib");

                var url = "/cart/AddToCartPartial";
                e = e || window.event;
                var el = e.target || e.srcElement;

                $.get(url, {
                    id: el.id
                }, function myfunction(data) {
                    $(".ajaxcart").html(data);
                }).done(function () {
                    $("span.loader").removeClass("ib");
                    $("div.ajaxmsg").addClass("ib");

                    setTimeout(function () {
                        $("div.ajaxmsg").fadeOut("fast");
                        $("div.ajaxmsg").removeClass("ib");
                    }, 2000);
                });
            });
        });
    </script>
}
